@import url(https://fonts.googleapis.com/css?family=Raleway);

.header{
  width: 100%;
  background: #3fa46a;
  z-index: 2000;
  position: fixed;
}
.header_fixed {
  position: fixed;
}
.navbar{ 
    width: 100%;
    background: #3fa46a;
    display: flex;
    padding: 1.5em;
    text-align: center;
    font-family: Raleway;
}
.navbar_hidden {
        top: -50px;
}

.link{
    transition: 0.3s ease;
    color: #ffffff;
    font-size: 2em;
    text-decoration: none;
    padding: 1em 0;
    margin: 0 1em;
}
.link:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0; 
}


