@import url(https://fonts.googleapis.com/css?family=Raleway);

.header{
    width: 100%;
    background: #3fa46a;
    z-index: 100;
}
.header_fixed {
    position: fixed;
    left: 0;
    top: 0;
}

nav{
    display: flex;
    padding: 1.5em;
    text-align: center;
    font-family: Raleway;

.link{
    transition: 0.3s ease;
    color: #ffffff;
    font-size: 2em;
    text-decoration: none;
    padding: 1em 0;
    margin: 0 1em;
}
.link:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0; 
}
    }

